.profile {
    display: flex;

    align-items: center;
    justify-content: space-between;

    flex-direction: row;
    margin: 40px auto 0;

    max-width: 880px;

}

@media screen and (max-width: 767px) {
    .profile {
        /* flex-direction: row; */
        margin: 42px auto 0;
        max-width: 581px;
        flex-direction: column;

        justify-content: space-between;

        min-width: 282px;
    }
}

@media screen and (max-width: 1023px) {
    .profile {
        max-width: 581px;
    }
}