.header {
    margin: 45px auto 0;
    min-height: 73px;
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1023px) {
    .header {
        max-width: 581px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        margin: 28px auto 0;
        min-height: 55px;
        max-width: 320px;
    }
}