.elements__like {
    margin: 30px 30px 30px auto;
    cursor: pointer;
}

.elements__like:hover {
    opacity: 0.5;
}

@media screen and (max-width:319px) {
    .elements__like {
        margin: 30px 20px 30px auto;
    }
}