.popup__save-button {
    width: 358px;
    height: 50px;
    margin-top: 18px;
    margin-bottom: 37px;
    background: #000000;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.popup__save-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 319px) {
    .popup__save-button {
        width: 238px;
        height: 46px;
        margin-top: 15px;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 17px;
    }
}