.elements__like-button {
    width: 22px;
    height: 19px;
    border: none;
    background-image: url(../../../images/Like.png);
    /* margin: 30px 30px 30px auto; */
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
}

.elements__like-button:hover {
    opacity: 0.5;
}

@media screen and (max-width:319px) {
    .elements__like-button {
        /* margin: 30px 20px 30px auto; */
    }
}